# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

$GIT_DIR/30_FinishingGame/TickTickFinal
# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
30_FinishingGame/.vs/FinishingGame/v14/.suo
30_FinishingGame/TickTickFinal/bin/Windows/x86/Debug/TickTick5.exe
30_FinishingGame/TickTickFinal/obj/x86/Debug/TickTick5.exe
*.pdb
